*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;
    background:#f3f5f7;
    color:#333;

}

header{
    background:#b24e0c;
    color:white;
    padding:20px;
}

header h1{
    margin-bottom:15px;
}

nav{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    text-decoration:underline;
}

.welkom{
    text-align:center;
    padding:40px 20px;
}

.welkom h2{
    margin-bottom:10px;
}

.filters{
    width:90%;
    max-width:1100px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:15px;

}

.filters input,
.filters select{
    padding:10px;
    font-size:15px;

}

#bibliotheken{
    width:90%;
    max-width:1200px;
    margin:40px auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:20px;
}

.kaart{
    background:white;
    border-radius:10px;
    padding:20px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
}

.kaart h3{
    color:#b24e0c;
    margin-bottom:10px;
}

.kaart p{
    margin:8px 0;
}

.knoppen{
    margin-top:15px;
    display:flex;
    gap:10px;
}

button{
    border:none;
    background:#b24e0c;
    color:white;
    padding:10px 15px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#b24e0c;
}

footer{
    margin-top:50px;
    background:#b24e0c;
    color:white;
    text-align:center;
    padding:20px;
}

/* Responsive */

@media(max-width:700px){

    nav{

        justify-content:center;

    }

}


#favorieten {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(300px, 1fr));

    gap: 20px;

}

.geen-favorieten {
    text-align: center;
    padding: 40px;
    background: white;
    border-radius: 10px;

}

.verwijder {
    background: #d9534f;
}

.verwijder:hover {
    background: #b52b27;
}
.about,
.contact {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
}

.about h2,
.about h3 {
    margin-bottom: 15px;
}

.about p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.about ul {
    margin: 15px 0 25px 20px;
}

.about li {
    margin-bottom: 8px;
}

.about a {
    color: #005b96;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact label {
    font-weight: bold;
    margin-top: 5px;
}

.contact input,
.contact textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: inherit;
}

.contact textarea {
    resize: vertical;
}

.contact button {
    margin-top: 10px;
    width: fit-content;
}